body {
			margin: 0;
			padding: 0;
			font-family: Arial, sans-serif;
		}
.container{
	display: grid;
	gap:1px;
	grid-template-areas: 
	"header header header header"
	"nav nav nav nav"
	"sidel main main sider";

}
header{
		margin-top: 0;
		padding-top: 0;
		grid-area: header;
		color:white;
		background-color: #444;

		}

nav{
	grid-area:nav;
	display: flex;
	width: 100%;
	color:#fff;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	padding-right: 1px;
	margin-right: 1px;
}
nav a{
	color:#fff;
	background-color: grey;
	width: 100%;
	padding: 20px;
}

		
nav a:hover {
	text-decoration: underline;
	
}

a[href="register.php"] ,a[href="logout.php"]{
	background-color: green;
	padding-right: 0;
	margin-right: 0;
	text-align: center;


}
a[href="logout.php"]{
	background-color: red;
}

label {
			font-weight: bold;
			margin-bottom: 10px;
		}

form{
	display: flex;
	flex-flow:column wrap;
	justify-content: center;
	align-items: center;
	background-color: ghostwhite;
	box-sizing: border-box;
	padding: 20px;
}
input, button, #id{
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
	width: 100%;
	box-sizing: border-box;
}
content{
	grid-area:content;
}
main{
	grid-area:main;
}
a{
	text-decoration: none;
	color:whitesmoke;
}
input[type="submit"] {
		background-color: #333;
		color: #fff;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease-in-out;
	}

input[type="submit"]:hover {
		background-color: #444;
		}
@media (max-width: 1000px) {
  	nav{
    	flex-direction: column;
    	width: 100%;
    	text-align: center;
    	justify-content: center;
    	padding: 5px;
  }
}